# vim:syntax=make:

TARGETALIAS = $(ARCH)-$(VENDOR)-$(PLATFORM)
BUILDALIAS  = $(TARGETALIAS)
HOSTALIAS   = $(TARGETALIAS)

TOOLCHAINBIN  = /opt/diet/bin
CCACHEBIN     = /opt/ccache/bin
TARGETROOT    = /opt/diet
PREFIX	     ?= /opt/diet
TARGETLIBDIR  = /opt/diet/lib-$(ARCH)
TARGETINCDIR  = /opt/diet/include

CPPFLAGS     += -Wno-deprecated-declarations -isystem $(TARGETINCDIR)
CFLAGS       += -Wall -Wcast-align -Os -march=armv5te -mbig-endian -mcpu=xscale
TTL_KERNELARCH = arm
TTL_ENDIANNESS = big

CFLAGS_S      = -Os -DNDEBUG -fomit-frame-pointer -ffunction-sections -fdata-sections

HOSTARGS      = --host=$(TARGETALIAS) --build=i386-$(VENDOR)-$(PLATFORM)
# ===============================================
# beware -fpic clashes with some inline assembly
# ===============================================
COMPILER     = $(TARGETALIAS)-gcc
LINKER	     = $(TARGETALIAS)-ld
STRIP	     = $(TARGETALIAS)-strip
NM           = $(TARGETALIAS)-nm
CXX	     = $(TARGETALIAS)-g++ -fPIC
CC	     = $(COMPILER) -fPIC -L$(TARGETLIBDIR)
LD	     = $(LINKER) -L$(TARGETLIBDIR)
STAMP        = .stamp-$(ARCH)

TARGETTYPES=\
ac_cv_c_littleendian=$${ac_cv_c_littleendian=no} \
ac_cv_c_bigendian=$${ac_cv_c_bigendian=yes} \
ac_cv_sizeof___int64=0 \
ac_cv_sizeof_char=1 \
ac_cv_sizeof_int=4 \
ac_cv_sizeof_int16_t=2 \
ac_cv_sizeof_int32_t=4 \
ac_cv_sizeof_int64_t=8 \
ac_cv_sizeof_long_int=4 \
ac_cv_sizeof_long_long=8 \
ac_cv_sizeof_long=4 \
ac_cv_sizeof_off_t=4 \
ac_cv_sizeof_short_int=2 \
ac_cv_sizeof_short=2 \
ac_cv_sizeof_size_t=4 \
ac_cv_sizeof_u_int16_t=2 \
ac_cv_sizeof_u_int32_t=4 \
ac_cv_sizeof_u_int64_t=8 \
ac_cv_sizeof_uint16_t=2 \
ac_cv_sizeof_uint32_t=4 \
ac_cv_sizeof_uint64_t=8 \
ac_cv_sizeof_unsigned_int=4 \
ac_cv_sizeof_unsigned_long=4 \
ac_cv_sizeof_unsigned_short=2 \
ac_cv_sizeof_void_p=4

export CC CXX LD STRIP NM
