TARGETALIAS = $(ARCH)-$(VENDOR)-$(PLATFORM)
HOSTALIAS   = $(TARGETALIAS)

TOOLCHAINBIN  = /opt/diet/bin
CCACHEBIN     = /opt/ccache/bin
TARGETROOT    = /opt/diet
PREFIX	     ?= /opt/diet
TARGETLIBDIR  = /opt/diet/lib-$(ARCH)
TARGETINCDIR  = /opt/diet/include

CPPFLAGS     += -Wno-deprecated-declarations -isystem $(TARGETINCDIR)

TTL_KERNELARCH = x86
TTL_ENDIANNESS = little

CFLAGS       += -Wall -O2 -march=i686 -mmmx -msse
CFLAGS_S      = -Os -DNDEBUG -fomit-frame-pointer -ffunction-sections -fdata-sections
CFLAGS_S     += -falign-functions=1 -falign-jumps=1 -falign-loops=1
CFLAGS_S     += -mpreferred-stack-boundary=2 -freorder-blocks
# ===============================================
# beware -fpic clashes with some inline assembly
# ===============================================
COMPILER     = $(TARGETALIAS)-gcc
LINKER	     = $(TARGETALIAS)-ld
STRIP	     = $(TARGETALIAS)-strip
NM           = $(TARGETALIAS)-nm
CXX	     = $(TARGETALIAS)-g++ -fPIC
CC	     = $(COMPILER) -fPIC -L$(TARGETLIBDIR)
LD	     = $(LINKER) -L$(TARGETLIBDIR)
STAMP        = .stamp-$(ARCH)

export CC CXX LD STRIP NM
