# vim:syntax=make
SHARED	      = n
TOOLCHAINBIN  = /opt/BRECIS/i686-linux-x-mipsisa32-brecis-elf/bin
COMPILER      = mips-dietlibc-linux-gcc
HOSTCC	      = gcc296
TARGETROOT    = /opt/diet
PREFIX	      = /opt/diet
TARGETLIBDIR  = /opt/diet/lib-mips

TARGETALIAS = $(ARCH)-$(TARGET)-$(PLATFORM)
BUILDALIAS  = i386-$(TARGET)-$(PLATFORM)
HOSTALIAS   = i386-$(TARGET)-$(PLATFORM)

